.vsf-logo{
	text-align: center;
	line-height: 1.5;
	margin: 0;
	display: table;
	.size(100%, 220px);

	a{
		text-decoration: none;
		display: table-cell;
		vertical-align: middle;
		.size();
		color: @color-3-500;
		font-weight: @font-bold;
	}
}

.vsf-logo-mobile{
	margin: 0;
	background: @side-menu-bg;
	padding: 8px;

	a{
		color: @color-3-500;
		font-weight: @font-bold;
	}
}