.vsf-mobile-bar{
	background: @side-menu-bg;

	.vsf-cell{
		vertical-align: middle;
	}

	.vsf-menu-button button{
		background-color: #333;
		border: 0;
		float: right;
		margin-right: 15px;
		padding: 4px 10px;
		color: @color-lighten;
		font-size: @font-size-h4;
		border-radius: 4px;
	}
}