/*
Menu
http://www.colourlovers.com/palette/872029/Cordonato_Doro_2
http://www.colourlovers.com/palette/1684866/Greyscale_Heartache

Site
http://www.colourlovers.com/palette/1615652/Buttoned_Down?widths=0
*/


// Geral
@light:							#FAFAF5;
@dark:							#0F0E0E;
@white:							#FCFCFC;

// Menu lateral
@side-menu-bg:					#FAFAF5;
@side-menu-border:				#EFEFEF;
@side-menu-hover-border:		#F2DC4E;
@side-menu-hover-bg:			#FEFEFE;

// Conteúdo principal
@main-content-bg:				yellow;